*{
    box-sizing: border-box;
    margin: 0;
}
.long-content{
    background-color: gray;
    margin: 30px;
    padding: 5px;
    height: 200px;
}
img{
    width: 50px;
    height: 50px;
}
.sticky{
    position: fixed;
    bottom: 15px;
    right: 15px;
    /* z-index: 1000; */
}